.welcome {
    font-family: $main-font-family;
    text-align: center;
}

.aboutInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $info-background-color;
    padding: 1em;
        h1, h2, h3, h4, h5, h6, a, p {
            margin-block-start: 5px;
            margin-block-end: 5px;
            font-family: $main-font-family;
            text-align: center;
        }

    h4 {
        color: $text-color;
    }
    p {
        color: $text-accent-color;
    }

    

    img {
        width: 70%;
        object-fit: cover;
        border-bottom: 5px solid $pop-color;
        border-bottom-left-radius: $border-radius-card-img;
        border-bottom-right-radius: $border-radius-card-img;
    }

    .textBox {
        width: 70%;
    }

    @media screen and (min-width: 900px) {
        img {
            width: 40%;
        }
        .textBox {
            width: 50%;
        }
    }
}
