.blogHeading {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: $heading-background-color;
    .blogHeadingImg {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img {

            max-width: 90%;
            max-height: 60px;

            border-bottom: 5px solid $pop-color;
            border-bottom-left-radius: $border-radius-card-img;
            border-bottom-right-radius: $border-radius-card-img;

        }
    }
}

.blogTitle {
    background-color: black;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 1em;
    h1 {
        font-family: $main-font-family;
        color: $text-color;
        text-decoration: underline 5px $pop-color;
    }
}

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $info-background-color;
    
    h1, h2, h3, h4, h5, h6, a, p, li {
        font-family: $main-font-family;
    }

    h4 {
        color: $text-color;
        text-align: center;
    }
    p, li {
        color: $text-accent-color;
        text-indent: 50px;
    }

    ul, li {
        list-style-type: none;
        padding: 0;
        font-family: $main-font-family; 
        
    }
    li {
        h4 {
            color: $text-accent-color;
        }
    }

    @media (min-width: 800px) {
        .blogImgContainer {
            flex-direction: row!important;
        }
    }

    .blogImgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        .blogImg {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: $blog-img-width;
            margin: 2em;
            border-bottom: 5px solid $pop-color;
            border-bottom-left-radius: $border-radius-card-img;
            border-bottom-right-radius: $border-radius-card-img;

        }
    }

    .blogText {
        text-align: center;
        background-color: $info-background-color;
        padding-right: 1em;
        padding-left: 1em;
    }
    
}



