@mixin flexCenter($whichWay) {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: $whichWay;
    flex-wrap: wrap;
    flex-basis: 3;
}

@mixin flexAround($whichWay) {
    display: flex;
    justify-content: space-around;
    justify-items: space-around;
    align-items: space-around;
    align-content: space-around;
    flex-direction: $whichWay;
}

@mixin flexEvenly($whichWay) {
    display: flex;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-items: space-evenly;
    align-content: space-evenly;
    flex-direction: $whichWay;
}

@mixin flexBetween($whichWay) {
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    align-items: space-between;
    align-content: space-between;
    flex-direction: $whichWay;
}

@mixin border($pix, $color) {
    border: $pix, solid, $color;
}