$aw-blue: rgb(45, 105, 215);
$pop-color: $aw-blue;

$background-color: gray;
$background-image: '../img/body.jpg';
$main-color: black;
$line-color: rgb(55, 55, 55);
$text-color: rgb(200, 200, 200);
$text-accent-color:rgb(125, 125, 125);

$main-font-family: 'Oswald', sans-serif;
$accent-font-family: 'Oswald', sans-serif;

$nav-background-color: $main-color;
$nav-height: 60px;
$nav-border-radius: 5px;

$border-radius-heading-img: 5px;
$heading-background-image: '';
$heading-img-width: 50px;
$heading-img-height: auto;
$heading-background-color: $main-color;

$cardContainer-background-color: $main-color;
$cardContainer-background-image: '';
$card-background-color: $main-color;
$card-background-image: '';
$card-text-background-image: '';
$card-text-background-color: $main-color;
$card-img-width: 250px;
$card-img-height: 250px;
$border-radius-card-img: 5px;
$border-radius-card-text: 5px;
$border-radius-card: 5px;

$infoContainer-background-color: rgb(0, 0, 0);
$infoContainer-background-image: '';
$info-background-color: rgb(0, 0, 0);
$info-background-image: '';
$info-text-background-image: '';
$info-text-background-color: rgb(0, 0, 0);
$info-img-width: 300px;
$border-radius-info-img: 5px;
$border-radius-info-text: 5px;
$border-radius-info: 5px;

$blog-img-width: 300px;